@page
@model NguyenQuocVuong_Nhom11.Areas.Identity.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<h1 class="text-danger">Truy cập bị từ chối</h1>
<p>Bạn không có quyền truy cập vào trang này.</p>

<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">Quay lại trang chủ</a>
