@{
    ViewData["Title"] = "Access Denied";
}
<h1>Không đủ quyền hạn</h1>
<p>Bạn không có quyền truy cập trang này.</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Quay lại Trang chủ</a>
