@model IEnumerable<Category>

@{
    ViewData["Title"] = "Danh mục sản phẩm";
}

<h2>Danh mục sản phẩm</h2>
<head>
    <link rel="stylesheet" href="~/css/stylesheet.css" asp-append-version="true">

</head>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên danh mục</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                </tr>
        }
    </tbody>
</table>

<script>
    document.getElementById("toggleDarkMode").addEventListener("click", function () {
    document.body.classList.toggle("dark-mode");
    if (document.body.classList.contains("dark-mode")) {
        this.innerHTML = "☀️ Chế độ sáng";
    } else {
        this.innerHTML = "🌙 Chế độ tối";
    }
});

</script>